@charset "UTF-8";
@import url("rwd.css");
/* CSS Document */

body{
	font-family:Helvetica Neue, Helvetica, Arial," sans-serif", "微軟正黑體";
	margin:0;
	padding:0;
	background:rgba(0,0,0,0);
	color:rgb(96, 40, 135);
}

/*~~~~~~~~~~~~~~~~~~nav bar~~~~~~~~~~~~~~~~~~*/
nav{
	background:rgba(255,255,255,1);
	width:100%;
	text-align:left;
	position: -webkit-fixed;
	position: fixed;
	top:0;/*sticky的時候黏在網站的top:0位子，如果bottom:0就是黏在最下面，以此類推*/
	font-size: 12pt;
	z-index: 1000000000;
}

nav ul{
	margin-left: 30px;
}
nav li{
	display: inline-block;
	padding-left:30px;
}

nav li a{
	float:right;
	display: inline-block;
	color:rgb(96, 40, 135);
	text-decoration: none;  /*將底線去除*/
}

nav li a:hover{
	color: rgba(246,192,255,1.00);
	font-style: italic;
}

/*~~~~~~~~~~~~~~~~~~article01~~~~~~~~~~~~~~~~~~*/
#article01{
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 600px;
	background: url(../image/random01.jpg)no-repeat;
	background-size: cover;
}

#article01 aside{
	margin-top: 120px;
	margin-left: 5%;
}

#article01 a{
	text-decoration:none;
	color:rgb(96, 40, 135);
}

#article01 a:hover {
	
	color: #fff;
}


.link a{
	display: block;
	padding: 15px 15px;
	color:rgb(96, 40, 135);
	text-decoration: none;
	font-size: 12pt;
	border-radius: 10px;
	background:rgba(246,192,255,1.00) ;
	margin-right: 50%;
}

.link a:hover{
	color: #fff;
	border-radius: 20px;
	background:#48ced8;
	margin-right: 50%;
}


/*~~~~~~~~~~~~~~~~~~article02~~~~~~~~~~~~~~~~~~*/
#article02{
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 500px;
	background:url(../image/random04.jpg)no-repeat;
	background-size: cover;
}

#article02 aside{
	margin-top: 8%;
	text-align: center;
}

#article02 a{
	display: block;
	padding: 15px 15px;
	color:rgb(96, 40, 135);
	text-decoration: none;
	font-size: 12pt;
	border-radius: 10px;
	background:rgba(246,192,255,1.00) ;
	margin-left: 20%;
	margin-right: 20%;
}

#article02 a:hover{
	color: #fff;
	border-radius: 20px;
	background:#48ced8;
	
	margin-left: 20%;
	margin-right: 20%;
}



/*~~~~~~~~~~~~~~~~~~section1~~~~~~~~~~~~~~~~~~*/
#s1{
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 500px;
	background: url(../image/random03.jpg)no-repeat;
	background-size: cover;
}

#s1 a{
	display: block;
	padding: 15px 15px;
	color:rgb(96, 40, 135);
	text-decoration: none;
	font-size: 12pt;
	border-radius: 10px;
	background:rgba(246,192,255,1.00);
	margin-top: 2%;
	margin-left: 11%;
	margin-right: 55%;
}

#s1 a:hover{
	color: #fff;
	border-radius: 20px;
	background:#48ced8;
}


/*~~~~~~~~~~~~~~~~~~section2~~~~~~~~~~~~~~~~~~*/
#s2{
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 500px;
	background:url(../image/random04.jpg)no-repeat;
	background-size: cover;
}

#s2 aside{
	margin-top: 8%;
	text-align: center;
}

#s2 a{
	display: block;
	padding: 15px 15px;
	color:rgb(96, 40, 135);
	text-decoration: none;
	font-size: 12pt;
	border-radius: 10px;
	background: rgba(246,192,255,1.00);
	
	margin-top: 2%;
	margin-left: 20%;
	margin-right: 20%;
}

#s2 a:hover{
	color: #fff;
	border-radius: 20px;
	background:#48ced8;
}


/*~~~~~~~~~~~~~~~~~~section3~~~~~~~~~~~~~~~~~~*/
#s3{
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 500px;
	background: url(../image/lose.jpg)no-repeat;
	background-size: cover;
}

#s3 aside{
	margin-top: 8%;
	margin-left: 5%;
	margin-right: 5%;
}

#s3 a{
	display: block;
	padding: 15px 15px;
	color:rgb(96, 40, 135);
	text-decoration: none;
	font-size: 12pt;
	border-radius: 10px;
	background:rgba(246,192,255,1.00);
	margin-right: 50%;
}

#s3 a:hover{
	color: #fff;
	border-radius: 20px;
	background:#48ced8;
	margin-right: 50%;
}


/*~~~~~~~~~~~~~~~~~~section4~~~~~~~~~~~~~~~~~~*/
#s4{
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 500px;
	background: url(../image/win.jpg)no-repeat;
	background-size: cover;
}

#s4 aside{
	margin-top: 8%;
	margin-left: 5%;
	margin-right: 5%;
}

/*~~~~~~~~~~~~~~~~~~footer~~~~~~~~~~~~~~~~~~*/
footer{
	text-align: center;
	font-size: 10pt;
}